<!DOCTYPE html>
<html lang="es" ng-app="nuestroRSS">
<head>
	<meta charset="UTF-8">
	<title>AngularRSS</title>

	<!-- AngularJS, AngularJS animate, AngularJS touch -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js" type="text/javascript"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	<script src="https://code.angularjs.org/1.6.1/angular-animate.min.js" type="text/javascript"></script>
	<script src="https://code.angularjs.org/1.6.1/angular-touch.min.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Nuestra aplicación AngularJS -->
	<script src="app/app.js"></script>
	<script src="app/dataController.js"></script>
	<script src="app/generoController.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<p class="navbar-brand">Mi RSS</p>
				</div>
			</div>
		</nav>
	</header>
	<div class="container" ng-controller="dataController">
		<div class="jumbotron">
			<h1>Hola {{ nombre + " " + apellido}}</h1>
			<div class="row">
				<div class="col-md-3 col-xs-12 col-sm-3 col-lg-3">
					<div class="input-group">
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" ng-model="nombre" class="form-control"/>
					</div>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-3 col-lg-3">
					<div class="input-group">
						<label for="apellido">Apellido:</label>
						<input type="text" id="apellido" ng-model="apellido" class="form-control"/>
					</div>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-3 col-lg-3">
					<div class="input-group" ng-show="compruebaCamposRellenos(nombre, apellido)">
						<label for="genero">Género</label>
						<select class="form-control" ng-model="genero"  ng-controller="generoController" ng-change="enviaGenero()" class="form-control" id="genero">
							<option value="0" selected>Hombre</option>
							<option value="1">Mujer</option>
						</select>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
					<div class="input-group">
						<button class="btn btn-primary" ng-show="compruebaCamposRellenos(nombre, apellido)" ng-click="pedirDatos()">Pedir datos</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>